<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav Bar con logo</title>
    <link rel="stylesheet" href="../css/style_nav.css">
</head>
<body>

    <header>
        <ul>
            <img src="../img/icono2.png" alt="La Bombonería" class="logo">
        </ul>
        <nav>
            <ul class="enlaces_nav">
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Ofertas</a></li>
            </ul>
        </nav>
        <a href="" class="contacto"><button>Contáctanos</button></a>
    </header>

</body>
</html>