@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

/* Cambios Generales */
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV */
/* Decoraci칩n de los enlaces */
li, a, button{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

/* Con "flex" ponemos los objetos uno al lado del otro y a침adimos "space-between" para distribuirlos por la p치gina */ 
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #dc1528;
}

/* Cambiar la forma del cursor al pasar por encima */
.logo{
    cursor: pointer;
    margin-left: auto;
}

/* Quitamos la decoraci칩 de las listas*/
.enlaces_nav{
    list-style: none;
    display: flex;
    font-size: 16px;
}

/* Distancia entre los textos*/
.enlaces_nav li{
    padding: 0px 20px;
}

/* Cambio de color de las opciones al estar sobre el texto con el mouse*/ 
.enlaces_nav li a{
    transition: all 0.3s ease 0s;
}
.enlaces_nav li a:hover{
    color: rgba(0,0,0,1);
}

button{
    padding: 9px 25px;
    background-color: rgba(0,0,0,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,0,0,0.8);
}

/* FOOTER */
.pie{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #dc1528;
    padding: 50px;
}
.footer-col{
    width: 25%;
    padding: 0;
}
.footer-col h4{
    font-size: 18px;
    color: #edf0f1;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #edf0f1;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li{
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #000;
    padding-left: 8px;
}

.footer-col .redes_sociales a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 10px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #edf0f1;
}
.footer-col .redes_sociales a:hover{
    color: #24262b;
    background-color: #edf0f1;
}

/* responsive */
@media(max-width: 800px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;

    }
}
@media(max-width: 550px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;

    }
}