@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

/* Cambios Generales */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Decoración de los enlaces */
li, a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

/* Con "flex" ponemos los objetos uno al lado del otro y añadimos "space-between" para distribuirlos por la página */ 
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #dc1528;
}

/* Cambiar la forma del cursor al pasar por encima */
.logo{
    cursor: pointer;
    margin-left: auto;
}

/* Quitamos la decoració de las listas*/
.enlaces_nav{
    list-style: none;
    display: flex;
    font-size: 16px;
}

/* Distancia entre los textos*/
.enlaces_nav li{
    padding: 0px 20px;
}

/* Cambio de color de las opciones al estar sobre el texto con el mouse*/ 
.enlaces_nav li a{
    transition: all 0.3s ease 0s;
}
.enlaces_nav li a:hover{
    color: rgba(0,0,0,1);
}

button{
    padding: 9px 25px;
    background-color: rgba(0,0,0,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,0,0,0.8);
}